<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <properties resource="config/connection-info.properties"/>
    <typeAliases>
        <typeAlias type="com.member.dto.MemberDTO" alias="MemberDTO"/>
        <typeAlias type="com.common.SearchCondition" alias="SearchCondition"/>
    </typeAliases>
    <!-- 주석을 지우고 mybatis 설정 파일 내용을 작성하세요. -->
    <environments default="dev">
        <environment id="dev">
            <!-- type : JDBC or MANAGED 선택 -->
            <transactionManager type="JDBC"/>
            <!-- type : POOLED or UNPOOLED 선택 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost/gymmember"/>
                <property name="username" value="ohgiraffers"/>
                <property name="password" value="ohgiraffers"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="com.member.dao.MemberDAO"/>
    </mappers>
</configuration>